server:
  port: 7777

spring:
  datasource:
    url: jdbc:h2:mem:testdb;MODE=MySQL;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    open-in-view: false

app:
  jwt:
    secret: "TEST_SECRET_TEST_SECRET_TEST_SECRET_TEST_SECRET"
    access-token-minutes: 60

